<section id="publications">
<div class="section-title">
  <h2>Publications</h2>
  
  <div class="links">
    {% if site.data.bio.orcid %}
      <a href="{{ site.data.bio.orcid}}" target="_blank">ORCID</a> 
    {% endif %}
    
    {% if site.data.bio.dblp %}
      <a href="{{ site.data.bio.dblp}}" target="_blank">DBLP</a>
    {% endif %}

    {% if site.data.bio.googlescholar %}
      <a href="{{ site.data.bio.googlescholar}}" target="_blank">GOOGLE SCHOLAR</a>
    {% endif %}
  </div>
</div>
    <ul>
        {% for pub in site.data.publications %}
        <li>
            <strong>{{ pub.title }}</strong><br>
            {{ pub.authors }}<br>
            <em>{{ pub.venue }}</em> 
            <a href="{{ pub.link }}" target="_blank">[PDF]</a> 
            {% if pub.presentation %}
                <a href="{{ pub.presentation }}" target="_blank">[Presentation]</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>


    <div class="section-title">
      <h2>PhD Synopsis</h2>
        <p><a href="/assets/Synopsis_nehul_jain.pdf" target="_blank">Synopsis</a></p>
    </div>

</section>
