<section id="publications">
    <h2>Publications</h2>
    <ul>
        {% for pub in site.data.publications %}
        <li>
            <strong>{{ pub.title }}</strong><br>
            {{ pub.authors }}<br>
            <em>{{ pub.venue }}</em> 
            <a href="{{ pub.link }}" target="_blank">[PDF]</a> 
            {% if pub.presentation %}
                <a href="{{ pub.presentation }}" target="_blank">[Presentation]</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</section>
