<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <div class="profile-header">
      <img src="/assets/photo.jpeg" alt="profile photo" />
      
      <div class="header-text">
        <h1>{{ site.title }}</h1>
        <p>{{ site.data.bio.position }}, {{ site.data.bio.institution }}</p>

        <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
        <a href="{{ site.data.contact.github }}">GitHub</a>
        <a href="{{ site.data.contact.linkedin }}">LinkedIn</a>
      </ul>
      </div>
    </div>
    <nav>
      <a href="/">Home</a> |
      <a href="#publications">Publications</a> |
      <a href="#teaching">Teaching</a> |
      <!-- <a href="#contact">Contact</a> -->
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <small>&copy; {{ site.time | date: "%Y" }} {{ site.author.name }}</small>
  </footer>
</body>
</html>
