<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

  <header>
    <div class="profile-header">
      <img src="/assets/photo.jpeg" alt="{{ site.title }}" />
      
      <div class="header-text">
        <h1>{{ site.title }}</h1>
        <p>{{ site.data.bio.position }} <br>
 {{ site.data.bio.institution }}<br>
 {{ site.data.bio.about }}          
                </p>

<p class="links-line">
  <a href="mailto:{{ site.data.contact.email }}">Email</a>
  <a href="{{ site.data.contact.cv }}">CV</a>
  <a href="{{ site.data.bio.googlescholar }}">Google Scholar</a>
  <a href="{{ site.data.bio.dblp }}">DBLP</a>
  <a href="{{ site.data.bio.orcid }}">ORCID</a>
  <a href="{{ site.data.contact.github }}">GitHub</a>
  <a href="{{ site.data.contact.linkedin }}">LinkedIn</a>
</p>
      </div>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <small>&copy; {{ site.time | date: "%Y" }} {{ site.author.name }}</small>
  </footer>

</body>
</html>
